{% extends 'base.html' %}

{% block content %}

 <h1> {{ title }} </h1>

 <div class="ordering">
    {% if cur_rate_order == 'desc' %}
        <a href="?rate_order=asc">по рейтингу вверх</a>
    {% else %}
        <a href="?rate_order=desc">по рейтингу вниз</a>
    {% endif %}
 </div>


 <div class="ordering">
    {% if cur_rate_price == 'desc' %}
        <a href="?price_order=asc">по цене вверх</a>
    {% else %}
        <a href="?price_order=desc">по цене вниз</a>
    {% endif %}
 </div>


 <div class="category_list">
    {% for c in category_list %}
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
    {% endfor %}
 </div>

 <div class="product_list">
    {% for p in product_list %}
        {{ p.thumb }} --- <a href="{{ p.get_absolute_url }}">{{ p }}</a> - {{ p.category }} -
        - price: {{ p.price }} руб.- {{ p.rate }}  <span style="cursor: pointer" data-id-product="{{ p.id }}" data-user="{{ user.id }}" class="add_to_cart"> Add this to cart </span><br>
    {% endfor %}
 </div>




{% endblock %}
