{% extends 'base.html' %}

{% block content %}

 <h1> {{ title }} </h1>




 <div class="ordering">
    {% if cur_rate_order == 'desc' %}
        <a href="?rate_order=asc">по рейтингу вверх</a>
    {% else %}
        <a href="?rate_order=desc">по рейтингу вниз</a>
    {% endif %}
 </div>


 <div class="ordering">
    {% if cur_price_order == 'desc' %}
        <a href="?price_order=asc">по цене вверх</a>
    {% else %}
        <a href="?price_order=desc">по цене вниз</a>
    {% endif %}
 </div>


 <div class="category_list">
    {% for c in category_list %}
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
    {% endfor %}

    {% for ch in category.get_children %}
       <a style="color: red" href="{{ ch.get_absolute_url }}">{{ ch }}</a>
    {% endfor %}

 </div>








 <div class="product_list">
    {% for p in product_list %}
        {{ p.thumb }} --- <a href="{{ p.get_absolute_url }}">{{ p }}</a> - {{ p.category }} -
        - price: {{ p.price }} руб.- {{ p.rate }}  <span style="cursor: pointer" data-id-product="{{ p.id }}" data-user="{{ user.id }}" class="add_to_cart"> Add this to cart </span><br>
    {% endfor %}
 </div>

<div class="pagination">
    <span class="step-links">
        {% if product_list.has_previous %}
            <a href="?page={{ product_list.previous_page_number }}&rate_order={{cur_rate_order}}&price_order={{cur_price_order}}">Назад</a>
        {% endif %}

        <span class="current">
            Page {{ product_list.number }} of {{ product_list.paginator.num_pages }}.
        </span>

        {% if product_list.has_next %}
            <a href="?page={{ product_list.next_page_number }}&rate_order={{cur_rate_order}}&price_order={{cur_price_order}}">Вперед</a>
        {% endif %}
    </span>
</div>


{% endblock %}
