{% extends 'base.html' %}

{% block content %}

 <h1> {{ title }} </h1>

 <div class="ordering">
    {% if cur_rate_order == 'desc' %}
        <a href="?rate_order=asc">по рейтингу вверх</a>
    {% else %}
        <a href="?rate_order=desc">по рейтингу вниз</a>
    {% endif %}
 </div>


 <div class="category_list">
    {% for c in category_list %}
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
    {% endfor %}
 </div>

 <div class="product_list">
    {% for p in product_list %}
        {{ p }} - {{ p.category }} - {{ p.rate }}<br>
    {% endfor %}
 </div>

{% endblock %}
